<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteCond $1 !^(index\.php|images|fonts|scripts|img|swf|uploads|js|css|assets|robots\.txt|$)
    RewriteRule ^(.*)$ excellent/index.php/$1 [L,QSA]
</IfModule>