<{include file="layout/include_header.html"}>
<link href="css/tabcontent.css" rel="stylesheet" type="text/css" />
<script  src="js/tabcontent.js"type="text/javascript"></script>
</head><body>
<div id="header_container">
  <{include file="layout/header.html"}>
    <map name="map">
    <area shape=circle coords="20,20,25" href="https://http://dsa.ntue.edu.tw/">
    </map>
</div>
<{include file="layout/menu.html"}>

<div class="wrapper" id="main_wrapper">
  <div id="main" class="wrap">
    <div class="section group">
      <div class="col span_3_of_12">
        <{include file="layout/sidebar.html"}>
      </div>
      <div class="col span_5_of_12">
        <h1 class="title">聯絡我們-</h1>
        <div style="width:100%; margin: 0 auto; padding:0px;">
            <ul class="tabs" data-persist="true">
                <{foreach from=$tabInfo item=item key=key}>
                <li><a href="#view<{$key}>"><{$item.tab_name}></a></li>
                <{/foreach}>
            </ul>
            <style>
            table {
                max-width:400px;}
            </style>
            <div class="tabcontents">
                <{foreach from=$tabInfo item=item key=key}>
                <div id="view<{$key}>">
                    <{$item.data_html|htmlspecialchars_decode}>
                </div>
                <{/foreach}>
            </div>
        </div>
      </div>
      <div class="col span_4_of_12">
        <{include file="layout/ad.html"}>
      </div>
    </div>
  </div>
</div>
<{include file="layout/footer.html"}>